@require "variables"
* 
    padding 0
    margin 0
.menu
    display flex
    padding 20px
    &>*
        display inline-block
        font-size 1.6rem
        color color1
        text-decoration none
        padding 5px 10px
    &>div
        border 1px solid red